<%= link_to 'Developers', '/developers' %>
<%= link_to 'Games', '/games' %>
<%= link_to 'Games By Developer', "/developers/#{@developer.id}/games" %>
<%= link_to 'Update Developer', "/developers/#{@developer.id}/edit" %>
<%= link_to "Delete #{@developer.name}", "/developers/#{@developer.id}", method: :delete %>


<h1> <%= @developer.name %> </h1>

<ul>
  <li> Year Founded: <%= @developer.year_founded %> </li>
  <li> Still Active: <%= @developer.still_active %> </li>
  <li> City: <%= @developer.city %> </li>
  <li> Number Of Staff: <%= @developer.number_of_staff %> </li>
  <li>Number of Games: <%= @developer.game_count %></li>
</ul>
