<%= link_to 'Authors', '/authors' %>
<%= link_to 'Books', '/books' %>
<%= link_to 'Create New Author', '/authors/new' %>

<h1>All Authors</h1>

<% @authors.min_by do |author| %>
  <% author.created_at %>
  <h3><%= author.name %></h3>
  <h4><%= (author.created_at).strftime("Created on: %m/%d/%Y") %></h4>
  <%= link_to "Edit #{author.name}", "/authors/#{author.id}/edit" %>
  <%= link_to "Delete #{author.name}", "/authors/#{author.id}", method: :delete %>
<% end %>
