<%= link_to 'Developers', '/developers' %>

<h1>Games</h1>

<% @games.each do |game| %>
<section id="game-<%= game.id %>">
  <h3><%= game.name %></h3>
  <p>Year Released: <%= game.year_released %></p>
  <p>Console: <%= game.consoles %></p>
  <p>Physical Release: <%= game.physical_release %></p>
  <p>ESRB Rating: <%= game.esrb_rating %></p>
  <p><%= link_to "Edit #{game.name}", "/games/#{game.id}/edit" %></p>
  <p><%= link_to "Delete #{game.name}", "/games/#{game.id}", method: :delete %></p>
</section>
<% end %>
