<%= link_to 'Developers', '/developers' %>
<%= link_to 'Games', '/games' %>

<h1><%= @game.name %></h1>

<ul>
  <li>Year Released: <%= @game.year_released %></li>
  <li>Consoles: <%= @game.consoles %></li>
  <li>Physical Release: <%= @game.physical_release %></li>
  <li>ESRB Rating: <%= @game.esrb_rating %></li>
</ul>
